body {

}

.navbar-brand {
	font-size: 30px;
}


.main-menu ul li a {
	color: #fff;
}

.dropdown-menu a {
	
}

.pricing {
	border: 5px solid #007BFF;
}

/*form start*/
.contact_us {
	background-image: url(../images/form4.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 20vh 0;	
}


.sign_up {
	background-color: #162739;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 40px 50px;
	box-shadow: 1px 10px 5px -5px rgba(0,0,0,0.54);
	color: #fff;
}

.form_title h1 {

}

/*second form start*/
.secondForm {
	background-image: url(../images/form5.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 20vh 0;
}

.form2 {
	background-color: rgba(128, 139, 150);
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 40px 50px;
	box-shadow: 1px 10px 5px -5px rgba(0,0,0,0.54);
	color: #fff;
}

.submit_btn {
	padding: 10px 15px;
}
/*second form end*/

/*third form start*/
.thirdForm {
	background-image: url(../images/form7.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 30vh 0;
}

.plaintext {
	
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 40px 50px;
	box-shadow: 1px 10px 5px -5px rgba(0,0,0,0.54);
	color: #fff;
}

.plaintext input {
	border: 1px solid #fff;
	border-radius: 5px;
	color: ;
}

.plaintext input[value]{
	color: #495057;
	background-color: #fff;
	padding-left: 12px;
}

/*third form end*/


/*fourth form start*/
.fourthForm {
	background-image: url(../images/form6.jpeg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 20vh 0;
}

.form4 {
	background-color: rgba(128, 139, 150);
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 40px 50px;
	box-shadow: 1px 10px 5px -5px rgba(0,0,0,0.54);
	color: #fff;
}
/*fourth form end*/



/*form end*/

/*scrollspy start*/
